*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    width: 200px;
    height: 100px;
    background-color: green;

    position: relative;
    top: 50px;
    left: 100px;
}
.parent{
    width: 1000px;
    height: 400px;
    background-color: black;

}
.child{
    width: 200px;
    height: 200px;
    background-color: red;

    position: absolute;
    top: 25px;
    left: 50px;
}
.button{
    position: fixed;
    right: 50px;
    bottom: 50px;
}